<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Working</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<body>


<form action="/gplink?url=">
  <label for="url">First name:</label><br>
  <input type="text" id="url" name="url" value="github.com/freebomd/shotrenlinkapi/"><br>
  <input type="submit" value="GpLink Shotren">
</form> 
    
<form action="/shrinkme?url=">
  <label for="url">First name:</label><br>
  <input type="text" id="url" name="url" value="github.com/freebomd/shotrenlinkapi/"><br>
  <input type="submit" value="ShrinkMe Shotren">
</form> 


</body>
</html>

</body>
</html>
